.root {
    display: flex;
    justify-content: left;
    height: 180vh;
    align-items: left;
}

.font-link {
    font-family: 'Aboreto', cursive;
}

.text {
    margin-left: 5px;
    font-family:  'Aboreto';
}

.title {
    color: #020ddb;
    font-family:  'Aboreto';
}
.log {
    border:  solid #427AA8 1px;
    border-radius:  5px;
    border-width:  5px;
    font-size:  small;
    line-height: 1;

}

.descrip {
    margin-left: 30px;
}

.button {
    font-family:  'Aboreto';
    display: block;
    height: 50px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 30px;
    font-size: large;
    width: 350px;
    margin: 20px;
    
    color: #FFF;
    text-align: left;
    border: solid #427AA8 1px;
    border-radius: 5px;
    text-decoration: none;
    background: #427AA8;
}

.button:hover {
    cursor: pointer;
    background: #59A3E0;
    text-decoration: none;
    filter: none;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

